[Unit]
Description=ACME Server
After=network.target

[Service]
User=www-data
Group=www-data
ExecStart=/usr/bin/java -jar /opt/acmeserver/acmeserver.jar
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
